[2014-10-01 18:39] duckmatt opened #1 "Moving FSharpLint to fsprojects"
Hi, would it be possible to get [FSharpLint](https://github.com/duckmatt/FSharpLint) into fsprojects? https://github.com/duckmatt/FSharpLint/issues/28

[2014-10-03 23:15] #1 closed, assigned to nobody

[2014-10-17 16:03] panesofglass opened #2 "Please make cloudRuntime a contributor to FSharp.Control.Reactive"
That project probably needs a new team, as well, that should include @forki and @cloudRuntime.

[2014-10-17 17:13] #2 closed, assigned to nobody

[2014-12-02 17:56] mydogisbox opened #4 "Interest in being primary active maintainer"
I'm interested in being the primary active maintainer for this repo.

[2015-01-17 03:05] kkm000 opened #5 "Will take over the maintenance of FsLexYacc"
Hi, I am interested in becoming a maintainer of the FsLexYacc project. We are actively using the tools.

[2015-01-19 08:05] sergey-tihon commented on #5
@kkm000 Thank you for interest. I'd love to have you on board.
Could you please email me (sergey.tihon _ gmail _ com) and we discuss responsibilities on email.

[2015-01-19 21:54] #5 closed

[2015-01-23 05:42] sergey-tihon opened #6 "fsprojects NuGet account"
Dear Maintainers,

Recently we created new NuGet account [fsprojects](https://www.nuget.org/profiles/fsprojects) that is owned by @fsprojects/owners group (that have a full control over all [fsprojects](https://github.com/fsprojects) organization)

The goals of this account are:
- be sure that we are able to restore access to packages in the case of emergency
- to have a backup account that can ta

[2015-01-23 11:45] mavnn commented on #6
Added to FSharp.TypeProviders.StarterPack

[2015-01-23 11:55] colinbull commented on #6
Added Cricket.

[2015-01-25 08:34] sergey-tihon commented on #6
Thanks!
If you have any objections please mention them here.

[2015-01-25 16:03] ovatsus commented on #6
Added ApiaryProvider

[2015-01-26 11:57] dtchepak commented on #6
Added to [RegexProvider](https://www.nuget.org/packages/RegexProvider/).

[2015-01-27 14:49] lasandell commented on #6
Added to FSharp.ComProvider.

[2015-01-29 22:43] dmitry-a-morozov commented on #6
Added

FSharp.Data.SqlClient
FSharp.Desktop.UI
Tamarin

On Thu, Jan 22, 2015 at 9:42 PM, Sergey Tihon <notifications@github.com>
wrote:

[2015-01-29 23:37] ReedCopsey commented on #6
Added to FsXaml and FSharp.ViewModule

[2015-01-30 05:38] sergey-tihon commented on #6
@ReedCopsey Sorry, but I cannot `confirm package ownership for 'FsXaml.Wpf'`. Could you please share it once again? Thank you.

[2015-01-31 00:08] ReedCopsey commented on #6
@sergey-tihon Done.

[2015-02-08 11:00] forki commented on #6
done

[2015-02-09 12:03] theburningmonk commented on #6
Added to:

* DynamoDB.SQL
* S3Provider
* Filbert
* Amazon.CloudWatch.Selector
* Amazon.SimpleWorkflow.Extensions

[2015-02-09 18:07] sergey-tihon commented on #6
Thank you everyone!!! We are almost done, only 5 projects left
@ptrelford @nelak @jbtule @dsevastianov @dmohl

[2015-02-10 00:38] dsevastianov commented on #6
Added to FSharp.Numerics.FuzzyIntervals

[2015-04-13 12:40] albertjan opened #7 "oxen a persistent queue based on redis"
We've written a queue based on redis in f#, and we would like to add it to fsprojects.

It's based on [OptimalBits/bull](https://github.com/optimalbits/bull).

The repository is here: http://github.com/curit/oxen and the docs site is here: http://curit.github.io/oxen/

[2015-04-15 07:46] albertjan commented on #7
@fsgit I'm unable to restart the builds on travis for oxen.

[2015-04-15 07:48] albertjan commented on #6
added to oxen

[2015-04-15 07:51] albertjan commented on #7
I guess there was something up with travis because it works again :+1: closing this issue as oxen has been transferred

[2015-04-15 07:51] #7 closed

[2015-04-15 07:52] forki commented on #7
no I did the restart. Not sure what rights you need.

[2015-04-15 07:59] albertjan commented on #7
Ah ok. Thanks. :smile: I'll look into the permissions for travis. I believe there's a possibility to give teams restart access on travis.

[2015-04-15 08:02] forki commented on #7
small trick if you don't find it:

* git commit -a
* git push origin myPullRequestBranch -f

;-)

[2015-04-15 08:08] albertjan commented on #7
Oh good one :smile:.

I did find it I just had to resync travis with github. It gives me access to the repo because I'm listed as an owner.

[2015-04-21 11:31] isaacabraham commented on #6
Added FSharp.Azure.StorageTypeProvider

[2015-04-23 07:43] #4 closed

[2015-05-20 18:03] jbtule commented on #6
Added FSharp.Interop.Dynamic

[2015-06-01 10:32] sergey-tihon commented on #6
@forki @pblasucci could you please share https://www.nuget.org/packages/Chessie ?
@dtchepak could you please share https://www.nuget.org/packages/FSharp.Text.RegexProvider/ ?

[2015-06-01 14:47] pblasucci commented on #6
I'm not sure what you mean by "share", but I'm probably happy to do it.
:-)

(Chessie has sort of stalled out at this point, anyway)

Cheers!

Paul

On Mon, Jun 1, 2015 at 6:32 AM, Sergey Tihon <notifications@github.com>
wrote:

[2015-06-01 14:49] pblasucci commented on #6
Seems it's already pending approval for Chessie.

[2015-06-01 15:02] sergey-tihon commented on #6
Sorry, by `share` I mean to add [fsproject](https://www.nuget.org/profiles/fsprojects) account to the list of owners of Chessie. I do not see pending requests...

[2015-06-01 15:04] forki commented on #6
pretty sure there is a bug in the nuget gallery. added you again:
![image](https://cloud.githubusercontent.com/assets/57396/7915795/3fdd71e8-0880-11e5-8818-5b070237507d.png)

[2015-06-02 04:21] dtchepak commented on #6
Done! Sorry, forgot that step when i moved the project.

On Mon, Jun 1, 2015 at 8:32 PM, Sergey Tihon <notifications@github.com>
wrote:

[2015-06-02 06:47] sergey-tihon commented on #6
Thanks for everyone! It seems that we are done for now. :sparkles:

[2015-06-02 06:47] #6 closed

[2015-08-19 11:49] gsvgit opened #8 "YC.PrettyPrinter to fsprojects migration request"
Please, add https://github.com/YaccConstructor/YC.PrettyPrinter to fsprojects.

* CI build is configured.
* Documentation is created.
* Based on ProjectScaffold.
* [Discussion on renaming to FSharp.Text.PrinterCombinators](https://github.com/YaccConstructor/YC.PrettyPrinter/issues/16).

[2015-08-19 12:42] fsprojectsgit commented on #8
Welcome! Please transfer the project to organization https://github.com/orgs/fsprojects-transfer/

After that we will complete the transfer to fsprojects

[2015-08-19 13:24] gsvgit commented on #8
Done

[2015-08-19 13:27] fsprojectsgit commented on #8
OK, migrated, you have admin access at https://github.com/fsprojects/YC.PrettyPrinter.  Happy incubating!

[2015-08-19 13:27] #8 closed

[2015-08-19 14:24] gsvgit commented on #8
Thanks. I'm in YC Prettyprinters team, but there are no [repositories in it](https://github.com/orgs/fsprojects/teams). Could you add YC.PrettuPrinter repo to YC Prettyprinters team?

[2015-08-19 14:54] fsprojectsgit commented on #8
fixed, thanks

[2015-10-16 23:17] jbfp opened #9 "Transferring jbfp/fsharp-dnx-templates to fsprojects"
Hi, can I transfer https://github.com/jbfp/fsharp-dnx-templates to fsprojects? :)

[2015-10-17 00:23] fsprojectsgit commented on #9
Great! Please accept the invitation you've just been sent and transfer the repo to https://github.com/fsprojects-transfer/

[2015-10-17 00:24] fsprojectsgit commented on #9
We will then complete the transfer into this organization

[2015-10-17 00:48] fsprojectsgit commented on #9
Scratch that - just transfer directly to http://github.com/fsprojects after accepting the invite to that repo.  You should now have access rights you need to do that

[2015-10-17 08:38] jbfp commented on #9
Done! :)

[2015-10-17 08:59] fsprojectsgit commented on #9
You now have write access too

[2015-10-17 09:00] fsprojectsgit commented on #9
Ifpossible please add a README with a maintainers section, like this one.  https://github.com/fsprojects/VisualFSharpPowerTools/blob/master/README.md.  Also for fsharp-dnx.

[2015-10-17 09:06] jbfp commented on #9
I've added the section to fsharp-dnx-templates, @Alxandr is in charge of the fsharp-dnx project

[2015-10-17 09:10] fsprojectsgit commented on #9
ok, done!

[2015-10-17 09:10] #9 closed

[2015-12-15 13:18] dsyme opened #10 "Enabling "portable" profiles in projects"
We should gradually make more "fsprojects" and other F# community libraries available as portable libraries (profile 7, 78 or 259).  Portable libraries are consumable by both .NET Core and .NET Framework projects, as well as Windows apps and so on. Looking ahead it seems pretty important that we maximize the reach of F# libraries where possible.  This will be a fairly long process but it will be w

[2015-12-15 13:22] dsyme commented on #10
This table can be used to record the current state.  (For many of these, moving to .NET Core will not be immediately possible due to non-portability or dependencies).

- [ ] Amazon.CloudWatch.Selector
- [ ] Amazon.SimpleWorkflow.Extensions
- [ ] ApiaryProvider
- [ ] Cricket
- [ ] DynamicsCRMProvider
- [ ] DynamicsNAVProvider
- [ ] DynamoDb.SQL
- [ ] ExcelFinancialFunctions
- [ ] ExcelProvider
- [

[2015-12-15 16:26] dsyme commented on #10
Here are the approximate steps to add a PCL Portable build of an otherwise unremarkable F# library called ``FSharp.Foo`` (while still shipping a .NET 4.5 version, just to avoid destabilizing current users, or in case the .ENT 4.5 version has more functionality available):

1 - Create directory src\FSharp.Foo.Portable

2 - Copy src\FSharp.Foo\FSharp.Foo.fsproj to src\FSharp.Foo.Portable\FSharp.Foo.

[2015-12-16 11:18] ReverseBlade commented on #10
Don't forget fparsec. I think it is already converted to PCL. Though again without .NET native support we won't be able to run them as UWP apps :(

[2015-12-16 11:43] dsyme commented on #10
@ReverseBlade  This thread only deals with "fsprojects" projects.

It would be great to make a more complete table, e.g. of everything under http://fsharp.org/community/projects.  Also of the major C# libraries that F# community work sits on (e.g. Math.NET Numerics).

[2015-12-17 22:34] kolektiv commented on #10
FParsec already is, although I have to admit I'm struggling to understand the relationships between NuGet monikers, profiles, etc. I've followed The Don Guide in sentiment rather than exactly, and ended up with Profile259 assemblies, although it is fiddly, and i'm not looking forward to trying this with a large many project codebase (Freya).

[2015-12-22 21:38] TheAngryByrd commented on #10
I do have a PR for FSharp.Control.Reactive that makes it Profile259.  It needs a second pair of eyes. https://github.com/fsprojects/FSharp.Control.Reactive/pull/65

[2015-12-26 01:39] cloudRoutine commented on #10
[.NET Framework Profile Reference Table](http://embed.plnkr.co/03ck2dCtnJogBKHJ9EjY/preview)

[2015-12-30 13:17] jchidley commented on #10
What are these profiles anyway?  See http://blog.stephencleary.com/2012/05/framework-profiles-in-net.html

[2016-01-17 22:39] stephen-swensen commented on #10
FYI - [Unquote](http://www.swensensoftware.com/unquote) has builds targeting .NET 4.0, .NET 4.5, and Portable Profile 259.

[2016-01-17 23:13] dsyme commented on #10
@stephen-swensen Great!

[2016-07-31 15:37] eloraiby opened #11 "Add F# 3D Math library"
Please add F# 3D Math library to the list of F# projects:
https://github.com/eloraiby/FsMath3D

[2016-08-05 16:24] haf commented on #10
How do PCLs interact w/ .Net Core/CoreCLR?

[2016-08-05 16:32] dsyme commented on #10
THis is non-authoritative, but basically the important thing is

    Profile259 =>  Profile78 => Profile7 => ".NET Standard 1.5+" => .NET Core 1.x+ and .NET Framework 4.5x+

So making something into a PCL 259/78/7 means it can be referenced from a .NET Standard library, and can be sued on both .NET Core and ,NET Framework.

Likewise making something into a .NET Standard library means it can be use

[2016-08-05 16:48] ReverseBlade commented on #10
I believe currently the most 'ideal' profile is profile 151  at the moment.

[2016-08-05 16:50] haf commented on #10
Why can't the compiler handle this complexity? It could make it the 'most compatible' by default?

[2016-08-06 12:20] dsyme commented on #10
@haf The F# compiler (fsc.ex) doesn't really change much, the caller just points the compiler at different sets of reference binaries.

The complexity and churn here is unfortunate and really a question for the .NET designers. They've iterated on this multiple times, only recently settling on .NET Standard as the way of binary code sharing - and there will be another iteration on that.

[2016-08-06 12:47] haf commented on #10
@dsyme That's what I mean; can't the compiler than know about those sets without heavy-handed xml generated by opaque tooling. I'd like to specify a single input the to the compiler; e.g. a list of target "profiles": `["netcore15"; "most-portable-pcl"; "full-framework"]`?

[2016-08-07 17:32] tpetricek commented on #11
I sorthed this out with @eloraiby just now. Thanks for joining :+1:

[2016-08-07 17:32] #11 closed

[2016-09-02 16:13] enricosada commented on #10
@haf the tooling just resolve the path of assemblies (from gac or packages).

now all references are passed as normal file references, no more magic. there is a switch for `--simpleresolution` in fcs.

For example the response file of the compiler (the arguments) to build `net46`:

[code]

but for netstandard the list of referenced assemblies change too.. so something (the tooling) should choose.

[2017-05-05 18:04] Krzysztof-Cieslak opened #12 "Bounty Board for F# projects"
During last Office Hours in FSSF Slack  we've discussed the idea of promoting bounties as a model of monetizing OSS and getting more contributors to F# projects.

For those unfamiliar with bounty model here is basic workflow:

1. I have a feature that would make my life easier (or bug that annoys me)
2. I post announcement that this feature is backed by donation
3. crowd could increase bounty
4. d

[2017-05-05 18:10] Krzysztof-Cieslak commented on #12
Some of my personal notes:

1. The idea in principle is decent - I think it biggest advantage is increasing community awareness about services like BountySource and the fact that people can help projects they use this way.
2. It's a way of bringing more contributors to the project, or rewarding current existing contributors - which is added value to project.
3. It doesn't resolves the problem of u

[2017-05-05 18:15] ReedCopsey commented on #12
In terms of @Krzysztof-Cieslak 's 3rd point, I'm not convinced Bounty Source is the right fit - or at least not the right fit as an only option. Patreon or OpenCollective or similar might be a better fit in many cases. Bounty source is great for funding a specific task, but even then, the discoverability is weak.

Perhaps instead of a a single platform, a "preferred platform**s**" with a page that

[2017-05-05 18:31] mathias-brandewinder commented on #12
I think the idea of having one place where people can go and find all the F# open issues with bounties attached has merits, and ideally, it should be one place, to avoid fragmentation. If people have to search for it, I suspect it won't help. I could see something like up-for-grabs, with a bounty attached, as motivating someone to pick a project to contribute to.
Does anybody have experience with

[2017-05-05 18:33] ReedCopsey commented on #12
The main problem is there are 2 distinct goals - and the platforms target one or the other:

1. Fund a task to be done in a project (ie: "Add feature XXX", or "Fix my bug!")
2. Fund the project itself (ie: "I'm willing to pay money to keep this project moving forward, but I don't need to direct to a specific work item")

Bounty Source is focused on 1 - other platforms are focused more on 2.  Not s

[2017-05-05 19:26] JohanLarsson commented on #12
A couple of questions:
1. Are there examples of where bounties work well?
2. Is there a risk that devs will sit and wait for money and that the project dies?
3. What if someone pays big money for something nasty like monads?

[2017-05-06 00:11] voronoipotato commented on #12
Could you explain what you mean by "something nasty like monads?"

[2017-05-06 00:13] dsyme commented on #12
@JohanLarsson Worth a read: http://www.alfiekohn.org/punished-rewards/

@Krzysztof-Cieslak Despite linking that book, I'd still contribute ££ to Ionide (not pay-for-use, but donation in acknowledgment of contributing to grow the community).

[2017-05-06 05:01] Stift commented on #12
I don't find it that bad when sometimes some projects are valued in that way. To make it via the FSSF would make the FSSF like the EFF or Apache Foundation, which are also funding projects or maintainers, or even just a feature.
In the end there is always a negative effect with financial incentives, which has to be mitigated by the community. Also transferring money to some persons is very difficu

[2017-05-06 08:46] haf commented on #12
I think this discussion shows that there are two separate aims;

 1. to motivate occasional contributions, and on the other hand,
 2. to let high-productivity people like Krzysztof focus more on open source and less on pull in money for the cost of living.

For point 1:

 - quick feedback cycles
 - accurate feedback on pull requests
 - help with any licensing issues arising from contributions from

[2017-05-06 12:11] Krzysztof-Cieslak commented on #12
Just to clarify - please don't treat initial post as **my** idea, it's just something that was discussed on FSSF Slack during Office Hours and someone had to step up, write summary, and start discussion... and I was around ;)
So please treat it as different issue than any of my social media suggestions that I'll be looking for the way of "monetizing" OSS.

---

I totally agree that there are 2 ort

[2017-05-06 12:12] dsyme commented on #12
@Krzysztof-Cieslak Thanks - understood :)

[2017-05-06 12:24] Krzysztof-Cieslak commented on #12
I feel I would like to emphasize that the bounties is the most depersonalized way of supporting OSS (as people funds just features / bug fixes) and as such I believe it contains least danger from all possibilities. And that's why it's, IMO, the way that can be promoted by Foundation

Supporting projects (via something like Open Collective) or directly maintainers (via for example Patreon) puts muc

[2017-05-06 14:29] realvictorprm commented on #12
I personally think it's better to use the old donate style for projects and patron for single persons. Supporting single projects or task will be difficult I think.

[2017-05-08 14:10] voronoipotato commented on #12
Yes I think a bounty is a great idea. It also really helps when people would like a feature, or have a business need for a feature but don't have the requisite knowledge to implement such feature.

[2017-05-13 16:44] eugene-g commented on #12
Hello. I'm glad that my suggestion is being discussed :)

I do agree that money could have negative effect on community and there are issues related to money transfer. Those issues could be mitigated by using cryptocurrencies or by making bounties as donations to charity organizations. But it's not the point. The point is that there are not enough ways to support projects. Imagine following scenar

[2017-07-05 21:19] giacomociti opened #13 "FSharp.Data.Xsd"
hello, can I transfer [FSharp.Data.Xsd](https://github.com/giacomociti/FSharp.Data.Xsd)?

[2017-07-08 11:31] sergey-tihon commented on #13
I've sent you an invitation to `fsprojects-transfer` org, plz accept it and transfer repo there, then I will complete the transfer to `fsprojects`.

[2017-07-14 19:46] sergey-tihon commented on #13
Sorry @giacomociti, I missed somehow the moment when you moved the repository.
The transition to fsprojects is done, so please follow the steps from [onboarding process](https://github.com/fsprojects/FsProjectsAdmin#onboarding-process): update readme, link to the site, nuget package owners and etc.

Thank you @giacomociti !

[2017-07-14 19:46] #13 closed

[2017-07-15 06:46] giacomociti commented on #13
Thanks, I'll do the onboarding  steps in a couple of weeks since right now I'm on holidays without my laptop.

[2017-07-15 06:54] sergey-tihon commented on #13
Have a nice holidays!

[2017-07-26 20:24] giacomociti commented on #13
Hi @sergey-tihon , I think I did my onboarding duty, although:
fsprojects is still _pending approval_ on NuGet
I can't fix the link in the repo description (no _Edit_ button in sight, I hope_ you can do it)
The Travis build is failing and I'm afraid it has to do with a recent update to Mono 5.0

[2017-07-27 08:27] sergey-tihon commented on #13
As I know, @dsyme is the only owner of this account now.
So we need to ask him gently here to approve all pending requests.

I did it and hopefully fixed your permissions as well

Yes, looks like a known issues, you uses old version on FAKE that does not play nicely on Mono 5.0, could you please update it to the latest version of FAKE?

[2017-08-03 01:08] dsyme commented on #13
M y apologies, have been on vacation

@giacomociti fsprojects is now an approved owner on nuget.

Anything else you need?

thx

[2017-08-03 18:40] giacomociti commented on #13
Thanks a lot @sergey-tihon and @dsyme .
I think the only issue left is the Travis build although it is not related to the migration to fsprojects (but of course any help is highly appreciated).
I would appreciate also any kind of advice on the roadmap for this project: is it worth to start diverging from the code cloned from F# Data? You know this is just a thin wrapper around the XML type provide

[2017-08-31 16:53] ptrelford opened #14 "Transfer TickSpec"
TickSpec is a mature open source testing library for .Net written in F#.
The original repository was held on CodePlex which is closing down soon.
Some users of the library have created their own clones of the repository on GitHub, others are unsure which repository to use, see thread:

-  https://twitter.com/ChaloupkaMilos/status/903169577210830848

I propose that the following repository is trans

[2017-08-31 16:57] sergey-tihon commented on #14
@bartelink I've sent you an invitation to https://github.com/fsprojects-transfer/, please join and do 1st transfer

[2017-08-31 17:02] bartelink commented on #14
@sergey-tihon It's underway...

[2017-08-31 17:09] bartelink commented on #14
@sergey-tihon seems to be transferred... the readme was coped from codeplex some time ago with all links as they were, i.e. there may well be broken links

[2017-08-31 17:47] sergey-tihon commented on #14
Transfer is complete, here is the repo https://github.com/fsprojects/tickspec
@bartelink and @ptrelford are admins

May I ask you to check steps from migration guide https://github.com/fsprojects/FsProjectsAdmin, update README and share NuGet package with https://www.nuget.org/profiles/fsprojects ?

Thank you

[2017-08-31 17:47] #14 closed

[2017-08-31 17:56] bartelink commented on #14
@sergey-tihon all NuGet / AppVeyor / Travis config / permissions were configured and/or belong to @ptrelford - I only ingested the repo and pushed some commits (inc a readme.md which I produced by pasting the source from codeplex about 1 year ago). Will be AFK for some time but will check back in later.

[2017-08-31 20:18] ptrelford commented on #14
@bartelink @sergey-tihon please ping me your Nuget user names and I'll add you as owners

[2017-08-31 20:37] bartelink commented on #14
@ptrelford my NuGet username is `bartelink`

[2017-09-16 15:01] vukovinski opened #15 "Maintaining GraphProvider"
Hello, I'd like to be added as the maintainer of GraphProvider. I use DGML routinely for domain modeling.

[2017-09-16 15:11] sergey-tihon commented on #15
Cool, thank you for for your willingness.
I think that it should be possible, we just need as ask @forki and @mexx.

@vukovinski could you please describe in couple sentences what you want to change/add to the project? Thank you

[2017-09-17 08:56] mexx commented on #15
I have no objections, go for it.

[2017-09-24 15:25] sergey-tihon commented on #15
@forki ?

[2017-09-25 06:52] forki commented on #15
Fine with me

Am 24.09.2017 17:25 schrieb "Sergey Tihon" <notifications@github.com>:

[2018-03-16 00:55] shaunluttin opened #16 "F# Permutations Library"
We have been working on this for about 100 hours now. It's been a good vehicle for learning F# and also might be of use to the community:

https://github.com/shaunluttin/algorithms/tree/master/articles/functional-programs-for-generating-permutations

The FSharp solution contains implementations and tests of permutation algorithms from this paper:

https://github.com/shaunluttin/algorithms/blob/mas

[2018-04-07 09:10] kos59125 opened #17 "Request for transferring FsRandom to fsprojects"
[FsRandom](https://github.com/kos59125/FsRandom) is an fsharp library to generate random numbers in the way of functional programming including computation expressions.
It is extensible to support adding pseudo-random number generators and random functions such like generating random passwords or random user names.
Also, it can leverage System.Random class and its subclasses defined in libraries l

[2018-05-24 01:02] kos59125 commented on #17
@sergey-tihon Thanks. I have just transferred my repo to `fsprojects-transfer`.

[2018-05-24 14:42] voronoipotato commented on #12
I feel like people often talk about the corrupting influence of money but also don't address the corrupting influence of working without pay and people expecting things from people who are not paid. I personally don't see why project funding/patreon/bounties must be mutually exclusive.

[2018-05-24 17:08] sergey-tihon commented on #17
I've finished the transfer.
Please update the `README.md`, add maintainers, share `NuGet` package with fsprojects account and continue on the list - https://github.com/fsprojects/FsProjectsAdmin#requesting-transfer

[2018-05-24 17:08] #17 closed

[2019-03-26 12:46] #10 closed

[2019-04-11 18:05] dsyme opened #18 "Notes on switching to .NET Core tooling in "fsprojects" repos"
Let's use this issue to document how to switch to .NET-Core based tooling in "fsprojects" repos.  A good measure of this is if "mono" is no longer required in the repo at all (except maybe for testing)

### .NET Core Paket

Typical commands to acquire and run paket:
[code]

### .NET Core FAKE

[code]

### Switching to FAKE 5

Many "fsprojects" repos use FAKE 4.  See https://fake.build/fake-migrate

[2019-04-12 14:06] dsyme commented on #18
A quick update: I managed to remove mono from FsLexYacc, though documentation generation still requires the generation of .NET 4.x binaries.

[2019-04-20 18:16] baronfel commented on #18
Came across this project today that might be a way forward with documentation generation: https://twitter.com/dbrattli/status/1119488973133377536?s=19

Integrating with Sphinx might be easier overall than maintaining our own.

[2019-04-25 01:40] cannorin opened #19 "Want to transfer FSharp.Span.Utils"
Hello,

Unfortunately, [I have already polluted the NuGet namespace with `FSharp.Foo` packages](https://www.nuget.org/packages?q=cannorin) before I found and read [the guideline](http://fsharp.github.io/2014/09/19/fsharp-libraries.html).

Since few people expect for me use those libraries, I'm considering either

1. transfer the ownership to fsprojects and become a maintainer, taking responsibilit

[2019-11-07 18:03] wallymathieu opened #20 "Additional members to syntactic versioning"
https://github.com/fsprojects/SyntacticVersioning/issues/34

[2019-11-07 18:04] wallymathieu opened #21 "Setup group for f# codecs redis project"
https://github.com/fsprojects/FSharp.Codecs.Redis/issues/5

[2019-11-07 18:10] sergey-tihon commented on #20
<img width="641" alt="SyntacticVersioning-admins_·_F__Community_Project_Incubation_Space_Team" src="https://user-images.githubusercontent.com/1197905/68415256-fc73d200-01a2-11ea-904a-5a940a7f1053.png">
Done

[2019-11-07 18:10] #20 closed

[2019-11-07 18:13] wallymathieu commented on #20
Sweet, thanks!

[2019-11-07 18:18] sergey-tihon commented on #21
Also done
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/1197905/68415775-28438780-01a4-11ea-8860-2aecc88c4d5b.png">

[2019-11-07 18:18] #21 closed

[2019-11-07 18:19] wallymathieu commented on #21
Sweet! Thanks!

[2020-01-17 21:16] wallymathieu opened #22 "Add @adz and @wallymathieu to fsharpplus-admin"
https://github.com/orgs/fsprojects/teams/fsharplus-admin
Add the users @adz and @wallymathieu

[2020-01-18 07:55] sergey-tihon commented on #22
@cannorin @forki @gusty any objections?

[2020-01-18 08:05] forki commented on #22
I'm fine with that

Sergey Tihon <notifications@github.com> schrieb am Sa., 18. Jan. 2020,
08:55:

[2020-01-18 08:49] sergey-tihon commented on #22
I've added @wallymathieu and send intimation to @adz

[2020-01-18 08:49] #22 closed

[2020-03-03 17:54] gdennie opened #23 "The layout of https://fsprojects.github.io/ is problematic"
The layout of https://fsprojects.github.io/ occludes the project names. There is no point in a list of names that clips the names.

[2020-11-08 09:44] wallymathieu opened #24 "Add @alfonsogarciacaro to F#+ Admins"
The more the merrier! Would be sweet to have help when it comes to Fable related workflows, see https://github.com/fsprojects/FSharpPlus/pull/392 for instance.

What do you think @cannorin @forki @gusty @adz ?

[2020-11-08 09:46] gusty commented on #24
I think we all can benefit from having @alfonsogarciacaro as admin, specially now that we're trying to make F#+ and Fable 3 a real thing.

[2020-11-08 10:41] cannorin commented on #24
:+1:

[2020-11-08 14:37] alfonsogarciacaro commented on #24
Hi there! I'd be honored to join the team 😊 Just it may be difficult for me to watch everything happening in the repository so please be sure to ping me when you need my help 👍

[2020-11-09 01:52] adz commented on #24
:+1:

On Mon, 9 Nov 2020 at 01:07, Alfonso Garcia-Caro <notifications@github.com>
wrote:

[2020-11-10 16:16] gusty commented on #24
Ok, no objections so far.

@forki could you add him?

Thanks

[2020-11-10 16:40] forki commented on #24
Invitation sent

Gustavo Leon <notifications@github.com> schrieb am Di., 10. Nov. 2020,
17:16:

[2020-11-14 10:00] gusty commented on #24
@forki it looks like @alfonsogarciacaro is now admin of FsProjects which if you both agree I welcome that, but he's still not member of F#+ admins.

Maybe he doesn't need to in that case?

[2020-11-14 11:02] forki commented on #24
Now he can himself to that ;-)

Gustavo Leon <notifications@github.com> schrieb am Sa., 14. Nov. 2020,
11:00:

[2020-11-15 00:50] alfonsogarciacaro commented on #24
Ah, sorry, I was confused by the workflow 😅 Ok, I've appointed myself as F#+ admin now and I've also gave me a salary rise. It should be ok to remove me as fsprojects admin now :)

[2020-11-15 06:53] #24 closed

[2020-11-15 11:14] wallymathieu commented on #24
Perhaps @forki wants additional people to help him manage the administration of projects here on fsprojects

[2020-12-17 00:57] jwosty opened #25 "Interstellar"
I'd love to have [Interstellar](https://github.com/jwosty/Interstellar) moved over here to fsprojects!

Related: fsharp/fsfoundation#854

[2020-12-22 21:40] sergey-tihon commented on #25
Hi @jwosty
I've send you invitation to https://github.com/fsprojects-transfer org, please move project there, then I will move it to fsprojects and return you back admin right

[2020-12-22 22:25] jwosty commented on #25
@sergey-tihon transferred

[2020-12-23 07:36] sergey-tihon commented on #25
Done, please check your permissions, [update readme](https://github.com/fsprojects/FsProjectsAdmin) and https://www.nuget.org/profiles/fsprojects as an owner for Interstellar NuGet packages

[2020-12-23 08:12] jwosty commented on #25
Awesome, I've done both of those things. Although I can't see any settings tab or edit the repo description anymore.

[2020-12-23 09:58] sergey-tihon commented on #25
Please try again - you have admin right on this repo

[2020-12-23 17:36] jwosty commented on #25
It works now; thank you very much!

[2020-12-23 17:36] #25 closed

[2021-10-29 20:13] jwosty opened #26 "Lost access to fsprojects/Interstellar"
I lost access to the organization and therefore my repo at github.com/fsprojects/Interstellar due to not having 2FA enabled, which I've since fixed. Is there a way I can get access back?

[2021-10-29 21:22] dsyme commented on #26
Invitation sent!

[2021-10-29 21:49] jwosty commented on #26
Thanks! We're good now.

[2021-10-29 21:50] #26 closed

[2021-10-29 21:54] dsyme commented on #19
@cannorin Apologies we missed it. Did you transfer in?  You should be able to do it directly?

[2021-10-29 21:55] dsyme commented on #16
@shaunluttin  Apologies we missed this. Did you transfer in? You should be able to do it directly?

[2021-10-29 21:57] dsyme commented on #15
@vukovinski THis is a lnog time ago, but better late than never, I sent an invitation. You probably forked it?

[2021-10-29 21:57] #15 closed

[2021-10-31 08:29] cannorin commented on #19
@dsyme thanks! I was't a member of fsprojects at the moment I created this issue.

I've just transferred it to fsproject: https://github.com/fsprojects/FSharp.Span.Utils
but it seems I lost the admin access to it (maybe because of my oversight). could you or someone with an admin permission grant me the admin/maintainer access to the repo?

[2021-10-31 13:38] sergey-tihon commented on #19
@cannorin please check again, I've changed your role from `Write` to `Admin`
and Welcome to fsprojects! 🥳

[2021-10-31 14:02] #19 closed

[2021-11-01 22:55] dsyme commented on #18
Closing old issue :)

[2021-11-01 22:55] #18 closed

[2021-11-22 15:39] ronaldschlenker opened #33 "FsHttp"
Related: https://github.com/ronaldschlenker/FsHttp/pull/79

Although there are still some TODOs open before transferring and releasing the next major, I would be happy to transfer FsHttp to fsprojects.

Thank you for maintaining this space.

[2021-11-22 16:19] dsyme commented on #33
@ronaldschlenker Welcome!  I've sent you an org invite. After you have it you should be able to transfer the project in

[2021-11-22 17:52] ronaldschlenker commented on #33
Thank you very much, @dsyme. I was able to sucessfully join the @fsprojects organization. The invitation for the [fsprojects-admin repo](https://github.com/fsprojects/fsprojects-admin/invitations) resulted in this error message:

Was the invitation to the fsprojects-admin repo intentional, or just a mistake? Since I'm a member of fsprojects now, I should proceed with

* creating a `fsprojects/FsHt

[2021-11-22 18:24] sergey-tihon commented on #33
@ronaldschlenker there is no need to create new repo, just go to project setting and find `Transfer` button there - https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository#transferring-a-repository-owned-by-your-user-account

[2021-11-22 20:12] ronaldschlenker commented on #33
Done :) Thanks!

[2021-11-22 20:18] ronaldschlenker commented on #33
@sergey-tihon Travis-CI was used for build and tests. It seems that got broken since I can only select the repos under my GitHub account. Do you know how CI is managed usually for fsprojects?

[2021-11-22 21:03] dsyme commented on #33
We're normally using GitHub Actions but can enable Travis if you need it

[2021-11-22 21:05] dsyme commented on #33
We can enable Travis for FsHttp after you move it into the org, thanks

[2021-11-22 21:21] ronaldschlenker commented on #33
Thanks, I try out GitHub Actions.

[2021-11-23 06:31] ronaldschlenker commented on #33
@sergey-tihon could it be possible to access the settings page of the repo?

[2021-11-23 06:55] sergey-tihon commented on #33
@ronaldschlenker definitely yes. By default Github convert you role to `Write`. After migration we manually restore it back to `Admin` for owners. Please check.

[2021-11-23 08:34] ronaldschlenker commented on #33
It’s there! 😊 Thanks for your support. So I guess I start the search for a backup admin and improve the docs.

Did you receive the Nuget invitation? (I’ve sent it right now)

[2021-11-23 09:23] sergey-tihon commented on #33
yes, accepted. thank you

[2021-11-23 09:25] sergey-tihon commented on #33
I also see an invitation to install Travis CI.
@ronaldschlenker  do you still need it or you are ok with Github Actions?

[2021-11-23 09:36] ronaldschlenker commented on #33
No @sergey-tihon  - I don’t need it anymore, thus I switched to GitHub Actions yesterday. Please excuse the irritation.

[2021-11-28 12:02] ronaldschlenker opened #37 "FsLocalState"
Hello,

I currently work on a library which I call "FsLocalState". The repo is [here](https://github.com/ronaldschlenker/FsLocalState), and there is a description and some samples in the README.

Basically, it's about composing 'state-aware' functions as if they were just normal functions. Initially, I did that for signal processing and physics simulation, where is always a lot of state involved,

[2021-11-28 15:27] dsyme commented on #37
Yes, it's a good fit, feel free to move it in.

I'd like to recommend/request a name change as part of moving in - "FsXyz" is generally used for tooling, eg "FsCheck".  Yet, the library is too experimental for "FSharp.Data.XYZ"

So I'd encourage a new name. Maybe just under some nanespaces, eg "Utilities.LocalState" or "Schlenker.LocalState"??

@sergey_tihon As an aside I guess we should adjust th

[2021-11-29 07:29] ronaldschlenker commented on #37
@sergey-tihon @dsyme I moved it in.

For the naming: Is it required to prefix the name at all? If not, I would propably just use `Locsta` as namespace for now.

[2021-11-29 15:44] dsyme commented on #37
@ronaldschlenker No, it's not required, Locsta seems like a fine name.

[2021-11-29 15:50] sergey-tihon commented on #37
@ronaldschlenker just restored you Admin access to the repo

[2021-11-29 17:02] ronaldschlenker commented on #37
Thanks!

[2021-11-29 17:02] #37 closed

[2021-11-29 17:02] #33 closed

[2021-12-06 13:05] dsyme commented on #23
Closing this as people can just go to https://github.com/fsprojects

[2021-12-06 13:05] #23 closed

[2022-02-23 12:09] faldor20 opened #40 "Merge, or replace fsprojects/fsharp-languge-server with faldor20/fsharp-language-server"
The original [fsprojects/fsharp-language-server](https://github.com/fsprojects/fsharp-language-server) repo seems completely unmaintained. I have forked it and republished the extension with a large number of improvements (probably a few extra bugs too :b ), from myself and other members of the community.

As requested in this issue https://github.com/faldor20/fsharp-language-server/discussions/15

[2022-02-23 12:43] sergey-tihon commented on #40
@georgewfraser what do you think? would you mind to add @faldor20 as co-maintainer of [fsprojects/fsharp-language-server](https://github.com/fsprojects/fsharp-language-server)?

@fsprojects/tooling-team , @dsyme  appreciate your thoughts as well.

[2022-02-23 12:55] dsyme commented on #40
This seems reasonable

[2022-02-27 20:12] cartermp commented on #40
agreed

[2022-02-28 14:51] dsyme commented on #40
@faldor20 I have sent a maintainer invitation to you.  You will now be able to make a pull request and self-merge it and continue development together with other contributors

@georgewfraser Please let us know if you have any concerns.

[2022-03-01 04:40] faldor20 commented on #40
@dsyme Thankyou very much.

[2022-03-01 04:40] #40 closed

[2022-04-18 01:39] dsyme opened #41 "Policy on "fork-and-reboot-in-fsprojects" proposals"
@sergey-tihon From time to time people ask if it would be possible to fork-and-reboot an apparently-abandoned F# community project (e.g. in a personal repository) into fsprojects.

In general in the past we've never had to do this as project owners have either decided to move in or not.  However it's a scenario we should think about, and probably have some reasonable policy guidelines.

Some notes

[2022-04-18 06:16] sergey-tihon commented on #41
I think that we anyway try to contact original author and try to make a proper transfer.

So process may look like:
1. Person who volunteer themself to be a new maintainer should create issue in this repo
2. We will process such requests case by case and will try to contact owner using available channels.
3. If we do not receive response from the author in 1-2 month then we do official fork on beh

[2022-04-18 11:59] dsyme commented on #41
Also offer a path back to reunion with the original project. And an open invitation for the originator to join back as a co-maintainer (or even have the project back if they want to resume repo duties)

[2022-10-25 12:32] dsyme commented on #16
Closing this old issue

[2022-10-25 12:32] #16 closed

[2022-10-25 13:02] vsapronov opened #43 "Move FSharp.Json to fsprojects"
https://github.com/vsapronov/FSharp.Json/issues/65 and https://github.com/vsapronov/FSharp.Json/issues/61#issuecomment-1290458265

[2022-10-26 08:47] #41 closed

[2022-10-26 08:48] dsyme commented on #43
@vsapronov Fab - could you nominate one or two people to be maintainers please, possibly including yourself if you plan to keep doing it?

Once we have that just transfer the project in using "transfer project" , I believe you will have permissions if a member of this org

[2022-10-28 15:40] dsyme commented on #43
@vsapronov I've invited you to the fsprojects org - if yo uaccept you should be able to transfer in.  We'll then sort out permissions, thanks

We will need the name of one co-maintainer

[2022-10-31 09:11] dsyme commented on #43
OK, cool, we have @tnishimura and @johnazariah stepping up as co-maintainers.

@vsapronov is that OK for you and if so can you do the repo transfer please? Thanks!

[2022-11-03 05:02] vsapronov commented on #43
@dsyme I have tried though I see "You don’t have the permission to create public repositories on fsprojects". Could you please grant permissions.
Also you will make me admin of the project afterwards, right?

[2022-11-04 11:44] dsyme opened #44 "Abel Braaksma would like to transfer in `FSharp.Control.TaskSeq`"

[2022-11-04 11:44] dsyme commented on #44
https://github.com/abelbraaksma/TaskSeq/

[2022-11-04 12:06] dsyme commented on #43
@vsapronov Try again now please, something has changed with GH permissions that members can no longer transfer in, I think I've fixed that.

Yes, absolutely, the original creator is always welcome to be admin or maintainer.  If you decide you want to no longer be admin then whoever is maintainer will have "maintainer" rights.

[2022-11-04 17:54] vsapronov commented on #43
OK, transfer is done.

[2022-11-04 20:35] #44 closed, assigned to nobody

[2022-11-04 20:36] sergey-tihon commented on #43
@vsapronov thanks, you Admin access is restored.

[2022-11-04 23:10] dsyme commented on #43
Welcome along @vsapronov! Long live FSharp.Json!

[2022-11-05 03:50] johnazariah commented on #43
Hooray! :)

On Sat, 5 Nov 2022, 09:10 Don Syme, ***@***.***> wrote:

[2022-11-23 09:28] TimLariviere opened #45 "Move fsprojects/Fabulous to fsharp-mobile org"
Recently, I created the organisation [fsharp-mobile](https://github.com/orgs/fsharp-mobile). It aims to regroup all the efforts around improving toolings and frameworks for desktop and mobile development with F#.

I am already hosting most of the work I did over the years such as the F# mobile templates, 3rd party support and additional variants for Fabulous.

I would also like the main Fabulous r

[2022-11-23 09:28] TimLariviere commented on #45
Tagging for visibility just in case @sergey-tihon @dsyme

[2022-11-23 11:13] sergey-tihon commented on #45
I do not mind personally. (Awesome work with Fabulous btw)

Just would be nice to have more than one admin for fsharp-mobile organization and more than one owner for packager published from new repos (in order to guarantee continuity)

[2022-11-23 11:26] TimLariviere commented on #45
@edgarfgp is joining me as admin of the org.
I will create a shared owner account on NuGet as well.

Edit: Created an org account on NuGet https://www.nuget.org/profiles/fsharp-mobile

[2022-11-23 22:39] dsyme commented on #45
Interesting and good move!

[2022-11-23 22:43] dsyme commented on #45
You could maybe adopt a set of policies for the org, eg similar to the ones we use here?

Might be good to add one extra backup owner not actively involved in development just in case things chshte in 5 years or so - myself, or Sergey, or Tomas Petricek or similar - someone who can ask around for continuity maintainers if needed.

Please check fsharp.org for links that need adjusting

[2022-11-24 15:11] TimLariviere commented on #45
Adopting the same policies (except for the incubation part) is a good idea. I did not think this far yet, but requiring 2 admins, docs, tests, licensing and FSSF CoC are great to have.

@dsyme would you be interested to join as a backup admin, since you originally created Fabulous?

For fsharp.org, I'll submit a PR once Fabulous is moved to the new org.

[2022-11-25 23:43] dsyme commented on #45
@TimLariviere I'm happy to be backup backup yes :)

[2022-11-25 23:44] dsyme commented on #45
@TimLariviere Can you do the move or do you need our help for that?

[2022-11-26 06:18] TimLariviere commented on #45
@dsyme I have sent an invite to you.

I would need your help. I don't have the rights to do the transfer.

[2022-11-28 13:47] dsyme commented on #45
@TimLariviere I've transferred ownership!

[2022-11-28 13:51] dsyme commented on #45
@TimLariviere On naming - I wonder if "fsharp-apps" or "fsapps" or "fsharp-appdev" or similar would be a better name for the org.

(Somehow "fsapps" would match "fslab" and "fsprojects" though there's no particular need to align along that dimension).

I do think "fabulous" is a really good name so in theory you could also call the whole org "fabulous-apps" or something but I know there's more und

[2022-11-28 14:02] sergey-tihon commented on #45
👍 for "fabulous-apps" or just "fabulous".

We already have `fsharp/fsharp` so why not `fabulous/fabulous`...

[2022-11-28 14:33] TimLariviere commented on #45
@dsyme Awesome! Thanks a lot.

I would love to call the org `fabulous` but unfortunately that name is already taken.
Initially I called the org `fabulousfx` but someone pointed out it was confusing because we have a couple templates and packages that are not tied to Fabulous.

I'm discussing with @edgarfgp about this.

For now, I feel like `fsharp-mobile` conveys the idea behind the org better.

[2022-11-28 14:44] dsyme commented on #45
The problem with "fsharp-mobile" is it's both too much and too little - there will be other approaches to mobile (fable-based especially), and the headline of the org is "mobile and desktop"

I think you could simply change the meaning of "fabulous" to be broader and incorporate what you want.

[2022-11-28 15:07] TimLariviere commented on #45
That's a good point.
We settled on the name [fabulous-dev](https://github.com/fabulous-dev), which matches the website https://fabulous.dev